.Paragraph{
    font-family: Georgia, sans-serif;
    font-style: italic;
    float: center;
    line-height: 1.6;
}

.Header{
    font-size: 36px;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    padding-bottom: 42px;
}

.Header2{
    font-size: 36px;
    font-family: Georgia, sans-serif;
    font-weight: bold;
}