.Paragraph{
    font-family: Georgia, sans-serif;
    font-style: italic;
    line-height: 1.6;
    vertical-align: top;
}

.Header{
    font-size: 36px;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    padding-bottom: 2px;
}

.Header2{
    font-size: 36px;
    font-family: Georgia, sans-serif;
    font-weight: bold;
}